
.vscode/settings.json
gophersat.exe
*.pyc
.idea/IA02-HITMAN.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml